@model IEnumerable<Album>
  @inject IAuthorizationService authSevice
  @{
  ViewData["Title"] = "Index";
  }

  <div class="alert alert-primary">
    Albums List
  </div>
  <div class="container-fluid">
    <table class="table table-responsive-sm">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var album in Model)
        {
        <tr>
          <td>
            <a asp-controller="Albums"
               asp-action="Details"
               asp-route-id="@album.Id">@album.Name</a>
          </td>
          <td>@album.Description</td>
          @if ((await authSevice.AuthorizeAsync(
         User, album.OwenerId, AutherazationOperations.OwenResourse)).Succeeded)
          {
          <td>
            <a asp-action="Edit"
               asp-route-id="@album.Id">Edit</a>
            <form asp-action="Delete" method="post" class="d-inline-block ml-2">
              <input name="id" asp-for="@album.Id" type="hidden" />
              <input type="submit" value="Delete" class="btn btn-sm btn-outline-danger" />
            </form>
          </td>
          }
        </tr>
        }
      </tbody>
    </table>
  </div>
